*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c0c0c02c!important;
}

.content{
    width: 50%;
    position: absolute;
    top: 25%;
    background-color: white;
    padding: 25px;
    border-radius: 50px;
}
.content input{
    border-color: #336699;
    color: #336699;
}

.footer{
    position:absolute;
    bottom: 0;
    margin-bottom: 1%;

}
.footer>a{
    text-decoration: none;
    color: #336699ab;
}
.footer>div>a:hover{
    text-decoration: none;
}
.page{display: flex;
    justify-content: center;
}
.zoom a:hover{
    transform: scale(1.1);
    transition: all ease 500ms;
}

a{
    text-align: center;
    display: block;
}